<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form Generation</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        form {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            max-width: 400px;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="range"] {
            width: 100%;
            box-sizing: border-box;
        }

        .range-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <form id="form-container"></form>
    <form id="form-container2"></form>
    <script>

        filter = null

        async function generateForm() {
            const form = document.getElementById('form-container');
            form.setAttribute('method', 'post');

            function generateFields(container, nestedSchema, parentFieldName = '') {
                for (const fieldName in nestedSchema) {
                    const fieldType = nestedSchema[fieldName];
                    const fullName = parentFieldName ? `${parentFieldName}.${fieldName}` : fieldName;

                    const fieldContainer = document.createElement('div');

                    // Create checkbox
                    if (typeof fieldType !== 'object') {
                        const checkbox = document.createElement('input');
                        checkbox.setAttribute('type', 'checkbox');
                        checkbox.setAttribute('name', `${fullName}_checkbox`);
                        checkbox.setAttribute('value', fullName); // Add value attribute to store field name
                        fieldContainer.appendChild(checkbox);
                    }

                    // Create input based on field type
                    if (fieldType === 'string' || fieldName.includes('Id')) {
                        const input = document.createElement('input');
                        input.setAttribute('name', fullName);
                        input.setAttribute('type', 'text');
                        input.setAttribute('placeholder', 'Enter comma-separated values');
                        fieldContainer.appendChild(input);
                    } else if (fieldType === 'int') {
                        const minInput = document.createElement('input');
                        minInput.setAttribute('name', fullName + '_min');
                        minInput.setAttribute('type', 'number');
                        minInput.setAttribute('placeholder', 'Min ' + fullName);

                        const maxInput = document.createElement('input');
                        maxInput.setAttribute('name', fullName + '_max');
                        maxInput.setAttribute('type', 'number');
                        maxInput.setAttribute('placeholder', 'Max ' + fullName);

                        fieldContainer.appendChild(minInput);
                        fieldContainer.appendChild(maxInput);
                    } else if (typeof fieldType === 'object') {
                        const nestedContainer = document.createElement('div');
                        nestedContainer.classList.add('nested-container');
                        generateFields(nestedContainer, fieldType, fullName); // Recursively generate nested fields
                        fieldContainer.appendChild(nestedContainer);
                    }

                    const label = document.createElement('label');
                    label.textContent = fullName;
                    fieldContainer.appendChild(label);

                    container.appendChild(fieldContainer);
                }
            }

            const response = await fetch("/schema");
            const schema = await response.json();
            generateFields(form, schema);

            const submitButton = document.createElement('button');
            submitButton.setAttribute('type', 'submit');
            submitButton.textContent = 'Prepare';
            form.appendChild(submitButton);

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission behavior
                // console.log("button clicked")
                const formData = new FormData(form);

                // Iterate over checkbox inputs and set their value to 'on' if checked
                const checkboxes = form.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        formData.set(checkbox.name, 'on');
                    } else {
                        formData.set(checkbox.name, ''); // Set value to empty string if unchecked
                    }
                });

                // for (const [fieldName, value] of formData.entries()) {
                //     console.log(fieldName, value)
                // }

                filter = generateBSONQuery(formData);
                console.log("filter generated:", filter)
                const response = fetch('/preexport', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(filter),
                }).then(response => {
                    generateForm2(response.json(), filter)
                    console.log("form 2 generated")
                });

            });
        }


        function generateBSONQuery(formData) {
            const query = {};
            const projection = {}; // Projection object to include checked fields only

            for (const [fieldName, value] of formData.entries()) {
                if (!value || value.trim() === "") continue; // Skip empty values

                let fieldKey = fieldName;
                let isChecked = true;

                if (fieldName.includes('_checkbox')) {
                    fieldKey = fieldName.replace('_checkbox', '');
                    isChecked = value === 'on'; // Check if the checkbox is checked
                    if (isChecked) {
                        projection[fieldKey] = 1;
                    }
                    else {
                        projection[fieldKey] = 0;
                    } // Include field in projection if checked
                    // console.log("including into projection:", fieldKey)
                    // console.log("projection now is:", projection)
                    continue; // Skip processing the checkbox entry
                }

                if (fieldName.includes('_min')) {
                    fieldKey = fieldName.replace('_min', '');
                    query[fieldKey] = query[fieldKey] || {};
                    query[fieldKey]['$gte'] = parseInt(value);
                } else if (fieldName.includes('_max')) {
                    fieldKey = fieldName.replace('_max', '');
                    query[fieldKey] = query[fieldKey] || {};
                    query[fieldKey]['$lte'] = parseInt(value);
                } else {
                    // If it's not a range field, handle as regular field
                    query[fieldName] = value.includes(',') ? { '$in': value.split(',').map(v => v.trim()) } : value;
                }
            }

            // Convert field names with underscore to dot notation in query
            const resultQuery = {};
            for (const key in query) {
                const dottedKey = key.replace(/_/g, '.');
                resultQuery[dottedKey] = query[key];
            }

            // Check if there are fields to project, if not, set projection to null
            const projectionKeys = Object.keys(projection);
            const finalProjection = projectionKeys.length > 0 ? projection : null;

            return { query: resultQuery, projection: finalProjection };
        }




        async function generateForm2(fromPreexportPromise, filter) {
            // Create the form
            const fromPreexport = await fromPreexportPromise;

            // console.log("json should be here", fromPreexport)
            const formContainer = document.getElementById("form-container2");
            formContainer.innerHTML = '';
            const form = document.createElement("form");
            form.method = "POST";

            // Create hidden input for filter
            const filterInput = document.createElement("input");
            filterInput.type = "hidden";
            filterInput.name = "filter";
            filterInput.value = filter;
            form.appendChild(filterInput);

            // Generate labels for each key in the data
            for (const key in fromPreexport) {
                const label = document.createElement("label");
                label.textContent = key + ': ';
                const valueSpan = document.createElement("span");
                valueSpan.textContent = JSON.stringify(fromPreexport[key]);
                label.appendChild(valueSpan);
                form.appendChild(label);
                form.appendChild(document.createElement("br")); // Add line break for each label
            }

            // Create dropdown for data format
            const dataFormatLabel = document.createElement("label");
            dataFormatLabel.textContent = "Data Format:";
            const dataFormatSelect = document.createElement("select");
            dataFormatSelect.name = "data_format";

            const dataFormatOptions = ["JSON", "CSV", "PARQUET", "AVRO"];
            dataFormatOptions.forEach((option, index) => {
                const optionElement = document.createElement("option");
                optionElement.value = index;
                optionElement.textContent = option;
                dataFormatSelect.appendChild(optionElement);
            });

            form.appendChild(dataFormatLabel);
            form.appendChild(dataFormatSelect);

            // Create dropdown for destination
            const destinationLabel = document.createElement("label");
            destinationLabel.textContent = "Destination:";
            const destinationSelect = document.createElement("select");
            destinationSelect.name = "destination";

            const destinationOptions = ["S3", "Local"];
            destinationOptions.forEach((option) => {
                const optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.textContent = option;
                destinationSelect.appendChild(optionElement);
            });

            form.appendChild(destinationLabel);
            form.appendChild(destinationSelect);

            const submitButton = document.createElement('button');
            submitButton.setAttribute('type', 'submit');
            submitButton.textContent = 'Submit';
            form.appendChild(submitButton);


            formContainer.appendChild(form);

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission behavior
                // console.log("button clicked")

                const response = fetch('/export', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(filter),
                }).then(response => {
                    response.json()
                });

            });
        }


        generateForm()
    </script>

</body>

</html>