<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Stream</title>
</head>
<body>

<div>
    <table border="1" id="streamtable">
        <tr align="left">
            <th>Model</th>
            <th>Brand</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Price USD</th>
            <th>Published</th>
        </tr>
    </table>
</div>


<script>
var table = document.getElementById("streamtable")

if (typeof (EventSource) !== "undefined") {

    var source = new EventSource("/mongostream");

    source.onerror = function (event) {
        console.error("error " + event)
    }
    source.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data)
        var row = table.insertRow(1);

        var model = row.insertCell(0);
        var vendor = row.insertCell(1);
        var year = row.insertCell(2);
        var race = row.insertCell(3);
        var price = row.insertCell(4);
        var published = row.insertCell(5);
        // var engine = row.insertCell(4);

        model.innerHTML = data.modelNameEng
        vendor.innerHTML = data.markNameEng
        year.innerHTML = data.autoData.year
        race.innerHTML = data.autoData.raceInt
        price.innerHTML = data.USD
        published.innerHTML = data.addDate
        // engine.innerHTML = Math.floor(data.engine_cubic_cm)
    };

} else {
    document.getElementById("result").innerHTML =
        "Sorry, your browser does not support server-sent events...";
}
</script>
</body>


</html>