<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Form Submission</title>
    <style>
        html, body {
            height: 100%;
            margin: 10px;
            padding: 5px;
            overflow: hidden; /* Optional: Hide scrollbars if not needed */
        }

        #iframeId {
            width: 100%;
            height: 100%;
            border: none; /* Optional: Remove iframe border */
        }
    </style>
</head>
<body>

<form target="records" >
    <!-- Your form fields go here -->
    Exclude vendors <input id="brands" name="brands" type="text" value="ВАЗ, ГАЗ"><br>
    Exclude models <input id="models" name="models" type="text" value="Lanos"><br>
    Age range<br>
    <input id="yearFrom" name="yearFrom" type="text" value="2000">
    <input id="yearTo" name="yearTo" type="text" value="2023"><br>
    Price range<br>
    <input id="priceFrom" name="priceFrom" type="text" value="0">
    <input id="priceTo" name="priceTo" type="text" value="40000"><br>
    Mileage range<br>
    <input id="raceFrom" name="raceFrom" type="text" value="0">
    <input id="raceTo" name="raceTo" type="text" value="200000"><br>

    <input type="button" value="Apply filter" onclick="submitForm()">
</form>

<div>
    <button id="process">Stream start</button>
    <div id="result"></div>
</div>

<script>
    var processButton = document.getElementById('process');
    var resultDiv = document.getElementById('result');

    processButton.addEventListener('click', function () {
        fetch('/crawler', {
            method: 'GET'
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
            .then(data => {
                // Update the resultDiv with the response data
                resultDiv.innerHTML = 'Response: ' + data;
            })
            .catch(error => {
                console.error('Error:', error);
                resultDiv.innerHTML = 'Response: ' + error;
            });
    });

    function submitForm() {
        // Get form data
        var formData = {
            excludedVendors: parseCommaSeparatedList(document.getElementById('brands').value),
            excludedModels: parseCommaSeparatedList(document.getElementById('models').value),
            yearRange: [document.getElementById('yearFrom').value, document.getElementById('yearTo').value],
            priceRange: [document.getElementById('priceFrom').value, document.getElementById('priceTo').value],
            raceRange: [document.getElementById('raceFrom').value, document.getElementById('raceTo').value]
        };

        // Convert form data to JSON
        var jsonData = JSON.stringify(formData);

        // Send JSON data via AJAX
        fetch('/stream', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function parseCommaSeparatedList(value) {
        // Parse a comma-separated list to an array
        return value.split(',').map(item => item.trim());
    }
</script>

<iframe id="iframeId" name="records" src="/stream" width="100%" height="100%"></iframe>

</body>
</html>
