<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Form Generation</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        form {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            max-width: 600px;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="range"],
        select {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .range-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <form id="form-container"></form>
    <div id="form-container2"></div>
    <script>
        let filter = null;

        async function generateForm() {
            const form = document.getElementById('form-container');
            form.innerHTML = '';
            form.setAttribute('method', 'post');

            const collectionForm = document.createElement('form');
            collectionForm.id = 'collection-form';

            const collectionLabel = document.createElement('label');
            collectionLabel.textContent = 'Mongo Collection Name:';
            const collectionInput = document.createElement('input');
            collectionInput.type = 'text';
            collectionInput.name = 'mongo_collection';
            collectionInput.defaultValue = 'advertisementCopy';

            collectionForm.appendChild(collectionLabel);
            collectionForm.appendChild(collectionInput);
            form.parentNode.insertBefore(collectionForm, form);

           

            function generateFields(container, nestedSchema, parentFieldName = '') {
                for (const fieldName in nestedSchema) {
                    const fieldType = nestedSchema[fieldName];
                    const fullName = parentFieldName ? `${parentFieldName}.${fieldName}` : fieldName;

                    const fieldContainer = document.createElement('div');

                    if (typeof fieldType !== 'object') {
                        const checkbox = document.createElement('input');
                        checkbox.setAttribute('type', 'checkbox');
                        checkbox.setAttribute('name', `${fullName}_checkbox`);
                        checkbox.setAttribute('value', fullName);
                        fieldContainer.appendChild(checkbox);
                    }

                    if (fieldType === 'string' || fieldName.includes('Id')) {
                        const input = document.createElement('input');
                        input.setAttribute('name', fullName);
                        input.setAttribute('type', 'text');
                        input.setAttribute('placeholder', 'Enter comma-separated values');
                        fieldContainer.appendChild(input);
                    } else if (fieldType === 'int') {
                        const minInput = document.createElement('input');
                        minInput.setAttribute('name', fullName + '_min');
                        minInput.setAttribute('type', 'number');
                        minInput.setAttribute('placeholder', 'Min ' + fullName);

                        const maxInput = document.createElement('input');
                        maxInput.setAttribute('name', fullName + '_max');
                        maxInput.setAttribute('type', 'number');
                        maxInput.setAttribute('placeholder', 'Max ' + fullName);

                        fieldContainer.appendChild(minInput);
                        fieldContainer.appendChild(maxInput);
                    } else if (typeof fieldType === 'object') {
                        const nestedContainer = document.createElement('div');
                        nestedContainer.classList.add('nested-container');
                        generateFields(nestedContainer, fieldType, fullName);
                        fieldContainer.appendChild(nestedContainer);
                    }

                    const label = document.createElement('label');
                    label.textContent = fullName;
                    fieldContainer.appendChild(label);

                    container.appendChild(fieldContainer);
                }
            }

            try {
                const response = await fetch("/schema");
                const schema = await response.json();
                generateFields(form, schema);

                const submitButton = document.createElement('button');
                submitButton.setAttribute('type', 'submit');
                submitButton.textContent = 'Preview';
                form.appendChild(submitButton);

                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    const formData = new FormData(form);

                    const checkboxes = form.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            formData.set(checkbox.name, 'on');
                        } else {
                            formData.set(checkbox.name, '');
                        }
                    });

                    filter = generateBSONQuery(formData);
                    console.log("filter generated:", filter);

                    const collectionName = document.querySelector('#collection-form input[name="mongo_collection"]').value;
                    const requestBody = {
                        filter,
                        collectionName // Add collection name as a separate parameter
                    };

                    fetch('/preview', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestBody),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            console.log('Response Status:', response.status); // Debugging log
                            return response.json();
                        })
                        .then(data => {
                            console.log("Response Data:", data);
                            generateForm2(data, filter, collectionName); // Pass collectionName to generateForm2
                            console.log('Form 2 generated');
                        })
                        .catch(error => console.error('Error:', error));
                });
            } catch (error) {
                console.error('Error fetching schema:', error);
            }
        }

        function generateBSONQuery(formData) {
            const query = {};
            const projection = {};

            for (const [fieldName, value] of formData.entries()) {
                if (!value || value.trim() === "") continue;

                let fieldKey = fieldName;
                let isChecked = true;

                if (fieldName.includes('_checkbox')) {
                    fieldKey = fieldName.replace('_checkbox', '');
                    isChecked = value === 'on';
                    if (isChecked) {
                        projection[fieldKey] = 1;
                    } else {
                        projection[fieldKey] = 0;
                    }
                    continue;
                }

                if (fieldName.includes('_min')) {
                    fieldKey = fieldName.replace('_min', '');
                    query[fieldKey] = query[fieldKey] || {};
                    query[fieldKey]['$gte'] = parseInt(value);
                } else if (fieldName.includes('_max')) {
                    fieldKey = fieldName.replace('_max', '');
                    query[fieldKey] = query[fieldKey] || {};
                    query[fieldKey]['$lte'] = parseInt(value);
                } else {
                    query[fieldName] = value.includes(',') ? { '$in': value.split(',').map(v => v.trim()) } : value;
                }
            }

            const resultQuery = {};
            for (const key in query) {
                const dottedKey = key.replace(/_/g, '.');
                resultQuery[dottedKey] = query[key];
            }

            const projectionKeys = Object.keys(projection);
            const finalProjection = projectionKeys.length > 0 ? projection : null;

            return { query: resultQuery, projection: finalProjection };
        }

        function generateForm2(fromPreexport, filter, collectionName) {
            const formContainer = document.getElementById("form-container2");
            formContainer.innerHTML = '';
            const form = document.createElement("form");
            form.method = "POST";

            const filterInput = document.createElement("input");
            filterInput.type = "hidden";
            filterInput.name = "filter";
            filterInput.value = JSON.stringify(filter);
            form.appendChild(filterInput);

            let preparedJson = JSON.stringify(filter); // Store the JSON request

            for (const key in fromPreexport) {
                const label = document.createElement("label");
                label.textContent = key + ': ';
                const valueSpan = document.createElement("span");
                valueSpan.textContent = JSON.stringify(fromPreexport[key]);
                label.appendChild(valueSpan);
                form.appendChild(label);
                form.appendChild(document.createElement("br"));
            }

            const destinationLabel = document.createElement("label");
            destinationLabel.textContent = "Destination:";
            const destinationSelect = document.createElement("select");
            destinationSelect.name = "destination";

            const destinationOptions = ["Select Destination", "S3", "Mongo"];
            destinationOptions.forEach((option) => {
                const optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.textContent = option;
                destinationSelect.appendChild(optionElement);
            });

            form.appendChild(destinationLabel);
            form.appendChild(destinationSelect);

            const dataFormatContainer = document.createElement("div");
            dataFormatContainer.style.display = "none";

            const dataFormatLabel = document.createElement("label");
            dataFormatLabel.textContent = "Data Format:";
            const dataFormatSelect = document.createElement("select");
            dataFormatSelect.name = "data_format";

            const dataFormatOptions = ["JSON", "CSV", "PARQUET", "AVRO"];
            dataFormatOptions.forEach((option) => {
                const optionElement = document.createElement("option");
                optionElement.value = option.toLowerCase();
                optionElement.textContent = option;
                dataFormatSelect.appendChild(optionElement);
            });

            dataFormatContainer.appendChild(dataFormatLabel);
            dataFormatContainer.appendChild(dataFormatSelect);
            form.appendChild(dataFormatContainer);

            const s3BucketContainer = document.createElement("div");
            s3BucketContainer.style.display = "none";

            const s3BucketLabel = document.createElement("label");
            s3BucketLabel.textContent = "S3 Bucket Name:";
            const s3BucketInput = document.createElement("input");
            s3BucketInput.type = "text";
            s3BucketInput.name = "s3_bucket";

            s3BucketContainer.appendChild(s3BucketLabel);
            s3BucketContainer.appendChild(s3BucketInput);
            form.appendChild(s3BucketContainer);

            destinationSelect.addEventListener('change', function () {
                if (this.value === "S3") {
                    dataFormatContainer.style.display = "block";
                    s3BucketContainer.style.display = "block";
                } else {
                    dataFormatContainer.style.display = "none";
                    s3BucketContainer.style.display = "none";
                }
            });

            const submitButton = document.createElement('button');
            submitButton.setAttribute('type', 'button'); // Change to 'button' to prevent default form submission
            submitButton.textContent = 'Export';
            form.appendChild(submitButton);

            formContainer.appendChild(form);

            submitButton.addEventListener('click', function () {
                console.log('Export button clicked'); // Debugging log
                const destination = destinationSelect.value;
                console.log('Selected destination:', destination); // Debugging log

                const statusMessage = document.createElement('p');
                statusMessage.id = 'status-message';
                formContainer.appendChild(statusMessage);

                if (destination === "S3") {
                    const requestBody = {
                        mongoCollection: collectionName, // Use collectionName passed as a parameter
                        s3Bucket: s3BucketInput.value, // Take value from the S3 bucket input field
                        outputFormat: dataFormatSelect.value // Use selected format from dropdown
                    };
                    console.log("Request Body for S3:", requestBody); // Debugging log
                    statusMessage.textContent = 'Sending request to S3...';
                    fetch('/process', { // Use local server endpoint
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestBody),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            console.log('Response Status:', response.status); // Debugging log
                            return response.json();
                        })
                        .then(data => {
                            console.log("Response Data:", data);
                            if (data.status.toLowerCase() === 'error') {
                                throw new Error(data.message || 'An error occurred during the request.');
                            }
                            statusMessage.textContent = 'Export to S3 completed successfully.';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            statusMessage.textContent = `Error occurred during export to S3: ${error.message}`;
                        });
                } else if (destination === "Mongo") {
                    const requestBody = {
                        query: preparedJson, // Example collection name
                        format: "JSON", // Example bucket name
                        export_name: "example_export",
                        user: "test_user"
                    };
                    console.log("Request Body for Mongo:", requestBody); // Debugging log
                    statusMessage.textContent = 'Sending request to Mongo...';
                    fetch('/exportToCollection', { // Use local server endpoint
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestBody),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            console.log('Response Status:', response.status); // Debugging log
                            return response.json();
                        })
                        .then(data => {
                            console.log("Response Data:", data);
                            if (data.status.toLowerCase() === 'error') {
                                throw new Error(data.message || 'An error occurred during the request.');
                            }
                            statusMessage.textContent = 'Export to Mongo completed successfully.';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            statusMessage.textContent = `Error occurred during export to Mongo: ${error.message}`;
                        });
                } else {
                    console.error('Invalid destination selected');
                    statusMessage.textContent = 'Invalid destination selected. Please choose a valid option.';
                }
            });
        }
        window.addEventListener('load', generateForm);
    </script>
</body>

</html>